@model List<ComputerAccessoriesV2.ViewModels.AccountViewModel>
@using ComputerAccessoriesV2.Extensions
@{
    Layout = "~/Views/Admin/_Layout.cshtml";
}


<div class="page-header">
    <div class="row">
        <div class="col-lg-10">
            <h3>Danh sách tài khoản</h3>
        </div>
        <div class="col-lg-1">
            <a class="btn btn-default" asp-area="Admin" asp-controller="Campaign" asp-action="CreateNewCampaign"><span><i class="fa fa-plus"></i></span>Thêm Chiến dịch mới</a>
            <div class="alert alert-success" id="showNotification"></div>
        </div>
    </div>
</div>
<br />

<div id="compaignGrid"></div>

<div id="createNewAccount" class="modal fade" role="dialog" style="margin-top: 100px;">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header" style="background-color:#6b7f9a">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title"><b>Tạo mới tài khoản</b></h4>
            </div>
            <div class="modal-body">
                <div class="form-group row">
                    <p id="txtNotice"></p>
                </div>
                <div class="form-group row">
                    <div class="col-lg-2">
                        <label>Họ và tên: </label>
                    </div>
                    <div class="col-lg-10">
                        <input class="form-control" id="fullName" placeholder="Vui lòng nhập đầy đủ họ tên" required />
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-lg-2">
                        <label>Email đăng nhập: </label>
                    </div>
                    <div class="col-lg-10">
                        <input class="form-control" id="email" type="email" placeholder="Vui lòng nhập Email của bạn" required />
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-lg-2">
                        <label>Số điện thoại: </label>
                    </div>
                    <div class="col-lg-10">
                        <input class="form-control" id="phoneNumber" type="tel" placeholder="Vui lòng nhập đầy số điện thoại" required />
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-lg-2">
                        <label>Tỉnh, Thành Phố</label>
                    </div>
                    <div class="col-lg-10">
                        <input id="provinceSelector" class="form-control" />
                    </div>
                    @*<select id="provinceSelector" asp-items="@listProvinces.ToSelectListItemProvince("ProvinceName",listProvinces.FirstOrDefault().ProvinceId)" class="form-control"></select>
                        <span class="glyphicon glyphicon-envelope form-control-feedback"></span>*@

                </div>

                <div class="form-group row">
                    <div class="col-lg-2">
                        <label>Huyện, Quận</label>
                    </div>
                    <div class="col-lg-10">
                        <input id="districtSelector" type="text" class="form-control" />
                    </div>
                    @*<select id="districtSelector" class="form-control"></select>*@

                </div>

                <div class="form-group row">
                    <div class="col-lg-2">
                        <label>Xã, Phường</label>
                    </div>
                    <div class="col-lg-10">
                        <input type="text" id="wardSelector" class="form-control" />
                    </div>
                    @*<select id="wardSelector" class="form-control"></select>*@

                </div>

                <div class="form-group row">
                    <div class="col-lg-2">
                        <label>Số nhà, Đường</label>
                    </div>
                    <div class="col-lg-10">
                        <input type="text" id="placeDetailText" class="form-control">
                    </div>

                </div>


                <div class="form-group row">
                    <div class="col-lg-2">
                        <label>Mật khẩu: </label>
                    </div>
                    <div class="col-lg-10">
                        <input class="form-control" type="password" id="passWord" placeholder="Vui lòng nhập mật khẩu của bạn" pattern=".{6,}" required />
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-lg-2">
                        <label>Xác nhận mật khẩu: </label>
                    </div>
                    <div class="col-lg-10">
                        <input class="form-control" id="confirmPassword" type="password" oninput="checkPwd()" placeholder="Xác nhận mật khẩu" required />
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-lg-2">
                        <label>Vai trò</label>
                    </div>
                    <div class="col-lg-10">
                        <select id="roleId" class="form-control"></select>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" id="btn-createAccount"><span><i class="fa fa-check"></i></span> Tạo</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>


@section Scripts{
    <script>
        $(document).ready(function () {
            $('#showNotification').hide();
            $("#compaignGrid").kendoGrid({
                dataSource: {
                    type: "json",
                    transport: {
                        read: window.location.protocol + '//' + window.location.host + "/Admin/Compaign/GetAllCompaign"
                    },
                    pageSize: 20
                },
                height: 550,
                groupable: true,
                sortable: true,
                pageable: {
                    refresh: true,
                    pageSizes: true,
                    buttonCount: 5
                },
                columns: [{
                    field: "CampaignId",
                    title: "ID",
                }, {
                    field: "CampaignName",
                    title: "Tên chiến dịch"
                },{
                    field: "CreatedDate",
                    title: "Ngày khởi tạo"
                },{
                    field: "StartDate",
                    title: "Ngày bắt đầu"
                },{
                    field: "EndDate",
                    title: "Ngày kết thúc"
                },{
                    field: "Description",
                    title: "Description"
                },{
                    field: "TypeId",
                    title: "Trạng thái",
                }, {
                    field: "Status",
                    template: "#if(Status==true){#<text>Đã kích hoạt</text>#}else{#<text>Khóa/Chưa kích hoạt</text>#}#"
                }, {
                    field: "address",
                    title: "Địa chỉ"
                }, {
                    title: "Thao tác",
                    template:"<a class='btn btn-default' style='border:none; background:transparent' onclick='return ViewDetails(#: id #)' title='Xem chi tiết'><span><i class='fa fa-eye'></i></span></a> <a class ='btn btn-default' style='border:none; background:transparent' onclick='return EditAccount(#: id#)' title='Chỉnh sửa'><span><i class='fa fa-pencil'></i></span></a>"
                    }]
            });
        });

        function show() {
            $('showNotification').fadeTo(2000, 500).slideDown(500, function () {
                $('showNotification').slideUp(500);
            })
        }
    </script>
}