<div class="account-details-form">
    <div class="col-lg-4">
        <span id="notify"></span>
    </div>
    <div class="single-input-item">
        <label for="current-pwd" class="required">Mật khẩu hiện tại</label>
        <input type="password" id="current-pwd" placeholder="Current Password" />
    </div>
    <div class="row">
        <div class="col-lg-6">
            <div class="single-input-item">
                <label for="new-pwd" class="required">Mật khẩu mới</label>
                <input type="password" id="new-pwd" placeholder="New Password" />
            </div>
        </div>
        <div class="col-lg-6">
            <div class="single-input-item">
                <label for="confirm-pwd" class="required">Nhập lại mật khẩu mới</label>
                <input type="password" id="confirm-pwd" placeholder="Confirm Password" />
            </div>
        </div>
    </div>
    <div class="single-input-item">
        <button onclick="submitChangePass()" class="check-btn sqr-btn ">Lưu thay đổi</button>
    </div>
</div>

<script>
    $(document).ready(() => {
        notification = $("#notify").kendoNotification({
                position: {
                    top:170
                },
                templates: [{
                    type: "warning",
                    template: "<div class='text-danger'><text style='font-size:14px'>#= content #</text></div>"
                }, {
                    type: "success",
                    template: "<div class='text-success'><text style='font-size:14px'>#= content #</text></div>"
                    }]
            }).data("kendoNotification");    
    });


    function submitChangePass() {
        var currentPass = document.getElementById("current-pwd").value;
        var newPass = document.getElementById("new-pwd").value;
        var confirmPass =document.getElementById("confirm-pwd").value;
        debugger;
        var data = {
            OldPassword: currentPass,
            NewPassword: newPass
        }
        $.ajax({
            url: "/Profile/ChangePassword",
            type: "post",
            dataType: "json",
            data: data,
            success: function (result) {
                console.log("Change pass success!");
                notification.show("Cập nhật mật khẩu thành công", "success");
            },
            error: function (err) {
                console.log(err);
                notification.show("Cập nhật thất bại", "warning");
            }
        });
    }
</script>