<h3>Account Details</h3>
<div class="account-details-form">
    <form action="#">
        <fieldset>
            <legend>Password change</legend>
            <div class="single-input-item">
                <label for="current-pwd" class="required">Current Password</label>
                <input type="password" id="current-pwd" placeholder="Current Password" />
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <div class="single-input-item">
                        <label for="new-pwd" class="required">New Password</label>
                        <input type="password" id="new-pwd" placeholder="New Password" />
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="single-input-item">
                        <label for="confirm-pwd" class="required">Confirm Password</label>
                        <input type="password" id="confirm-pwd" placeholder="Confirm Password" />
                    </div>
                </div>
            </div>
        </fieldset>
        <div class="single-input-item">
            <button class="check-btn sqr-btn ">Save Changes</button>
        </div>
    </form>
</div>
