@{
    String userName = ViewBag.userName;
}

<!-- Single Tab Content Start -->
<h3>Bảng điều khiển</h3>
<div class="welcome">
    <p>Chào mừng, <strong>@userName</strong> </p>
</div>
<!-- Single Tab Content End -->