@model ComputerAccessoriesV2.Data.MyUsers
@using ComputerAccessoriesV2.Data

<h3>Account Details</h3>
<div class="account-details-form">

    <div class="col-lg-4">
        <span id="notify"></span>
    </div>

    <div class="single-input-item">
        <label for="display-name" class="required">Display Name</label>
        <input type="text" id="display-name" placeholder="Display Name" asp-for="DisplayName" />
    </div>
    <div class="single-input-item">
        <label for="display-name" class="required">Phone Number</label>
        <input type="number" id="phoneNumber" placeholder="Display Name" asp-for="PhoneNumber" />
    </div>
    <div class="single-input-item">
        <label for="email" class="required">Email Addres</label>
        <input disabled="disabled" type="email" id="email" placeholder="Email Address" asp-for="Email" />
    </div>
    <div class="single-input-item">
        <label for="Created Date" class="required">Created Date</label>
        <input disabled="disabled" type="datetime" id="createdDate" placeholder="Created Date" asp-for="CreatedDate" />
    </div>
    <div class="single-input-item">
        <button onclick="onChangeProfileInfo()" class="check-btn sqr-btn ">Save Changes</button>
    </div>
</div>

<script>
    $(document).ready(() => {
        notification = $("#notify").kendoNotification({
                position: {
                    top:170
                },
                templates: [{
                    type: "warning",
                    template: "<div class='text-danger'><text style='font-size:14px'>#= content #</text></div>"
                }, {
                    type: "success",
                    template: "<div class='text-success'><text style='font-size:14px'>#= content #</text></div>"
                    }]
            }).data("kendoNotification");    
    });

    function onChangeProfileInfo() {
        var displayName = document.getElementById("display-name").value;
        var phoneNumber = document.getElementById("phoneNumber").value;

        var data = {
            UserName: displayName,
            PhoneNumber: phoneNumber
        }

        $.ajax({
            url: "/Profile/ChangeProfileInfo",
            type: "post",
            dataType: "json",
            data: data,
            success: function (success) {
                notification.show("Cập nhật thông tin thành công", "success");
            },
            error: function (err) {
                notification.show("Cập nhật thông tin thất bại", "warning");
            }
        });
    }

</script>
