@*@using ComputerAccessories.ViewModels
@model ContentHeader*@
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
    
    <section class="content-header">
        <h1 id="m">
            @*@Model.PageName*@
            Dashboard
            <small>Control panel</small>
        </h1>
        <ol class="breadcrumb" id="header">
            <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
            @*<li class="active">Index</li>*@
        </ol>
    </section>
    <script>
        var path = window.location.pathname.split('/');
        var custom = "<li><a href='#'><i class='fa fa-dashboard'></i> Home</a></li>"
        custom += "<li class='active'>" + path[path.length - 1] + "</li> ";

        var main = path[path.length - 2] + " <small>" + path[path.length - 1] + "</small> ";
        $('#m').text(main);
        //path.forEach(path => {
        //    if (path == 'Admin') {
        //        continue;
        //    }
        //    custom += "<li class='active'>" + path + "</li >";
        //});
        
        //$('#header').append(custom);
        var header = document.getElementById('header');
        header.innerHTML = custom;
    </script>
