<div id="reviews-holder">
    <div class="form-group row">
        <div class="col">
            <label class="col-form-label"><span class="text-danger">*</span> Độ hài lòng về sản phẩm</label>
            &nbsp;&nbsp;&nbsp; Xấu&nbsp;
            <input type="radio" value="1" name="rating">
            &nbsp;
            <input type="radio" value="2" name="rating">
            &nbsp;
            <input type="radio" value="3" name="rating">
            &nbsp;
            <input type="radio" value="4" name="rating">
            &nbsp;
            <input type="radio" value="5" name="rating" checked>
            &nbsp;Tốt
        </div>
    </div>
    @if (ViewBag.CurrentUserId == null)
    {
        <div class="form-group row">
            <div class="col">
                <label class="col-form-label"><span class="text-danger">*</span>Tên của bạn</label>
                <input id="txtUserName" type="text" class="form-control" required>
            </div>

            <div class="col">
                <label class="col-form-label"><span class="text-danger">*</span>Email</label>
                <input id="txtEmail" type="email" class="form-control" required>
            </div>
        </div>
    }
    <div class="form-group row">
        <div class="col">
            <label class="col-form-label"><span class="text-danger">*</span>Đánh giá của bạn</label>
            <textarea id="txtDescription" class="form-control" required></textarea>
        </div>
    </div>

    <br />

    <div class="buttons">
        <button onclick="uploadReview()" class="sqr-btn" type="submit">Gửi nhận xét</button>
    </div>

    <br />


    <div id="listReview"></div>
    <div id="pager" class="k-page-wrap"></div>
</div>

<script>

    var isLogin = @ViewBag.CurrentUserId != null

    $(document).ready(function () {
        var dataSource = new kendo.data.DataSource({
            transport: {
                read: {
                    url: "/Product/GetProductReviews?id=" + @ViewBag.ProductId,
                    dataType: "json"
                }
            },
            pageSize: 4
        });

        $("#pager").kendoPager({
            dataSource: dataSource
        });

        $("#listReview").kendoListView({
            dataSource: dataSource,
            pageable: true,
            template: kendo.template($("#template").html())
        });
    });

    function uploadReview() {
        var guestName = (!isLogin) ? $("#txtName").val() : null;

        var data = {
            ProductId:  @ViewBag.ProductId,
            Description: $("#txtDescription").val(),
            Star: parseInt($('input[name=rating]:checked').val()),
            LikedNumber: 0,
            UserId: @ViewBag.CurrentUserId,
            GuestName: guestName
        };

        $.ajax({
            url: "/Product/UploadPreview",
            data: JSON.stringify(data),
            type: "post",
            headers: {
                'Accept': 'application/json',
                'Content-Type': 'application/json'
            },
            beforeSend: function () {
                $('#spinnerModal').modal('show');
            },
            complete: function () {
                $('#spinnerModal').modal('hide');
            },
            success: function (result) {
                 $('#kendoNoti').data('kendoNotification').show({
                        title: "Đã thêm review!",
                        message: "Cảm ơn bạn đã đánh giá sản phẩm"
                    },
                    "success");
                $("#listReview").data('kendoListView').dataSource.read();
                $("#txtDescription").value = "";
            },
            error: function (e) {
                $('#kendoNoti').data('kendoNotification').show({
                        title: "Có lỗi xảy ra!",
                        message: "Hiện tại không thử gửi đánh giá sản phẩm"
                    },
                    "warning");
                console.log(e.err)
            }
        });
    }
</script>

<script type="text/x-kendo-tmpl" id="template">
    <div class="total-reviews">
        <div class="review-box">
            <div class="ratings">
                # for (var i=0; i<star; i++) { #
                <span class="good"><i class="fa fa-star"></i></span>
            # } #
            </div>

            <div class="post-author">
                # if(guestName != null) { #
                <p><span>Tải khoản: #:guestName#</span>   </p>
                # } else if(displayName != null) { #
                <p><span>Tải khoản: #:displayName#</span>   </p>
                # } else { #
                <p><span>Tải khoản: Người dùng</span>   </p>
                # } #
                <p>Ngày đăng: #:createdDate#</p>
            </div>
            <p>#:description#</p>
        </div>
    </div>
</script>
