
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Reset Mật khẩu</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <!-- Bootstrap 3.3.7 -->
    <link rel="stylesheet" href="../../bower_components/bootstrap/dist/css/bootstrap.min.css">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="../../bower_components/font-awesome/css/font-awesome.min.css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="../../bower_components/Ionicons/css/ionicons.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="../../dist/css/AdminLTE.min.css">
    <!-- iCheck -->
    <link rel="stylesheet" href="../../plugins/iCheck/square/blue.css">
    <link rel="stylesheet" href="~/kendo/styles/kendo.bootstrap-v4.min.css" />

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <!-- Google Font -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">
</head>
<body class="hold-transition login-box">
    <div class="login-box">
        <div class="login-logo">
            <a href="../../index2.html"><b>Reset Mật khẩu</b></a>
        </div>
        <span id="notify"></span>
        <!-- /.login-logo -->
        <div class="login-box-body">
            <br />

            <text>@ViewBag.Error</text>

            <br />
            <div class="form-group has-feedback">
                <input type="password" class="form-control" id="txtNewPassword" placeholder="Mật khẩu mới">
                <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
            </div>

            <div class="form-group has-feedback">
                <input type="password" class="form-control" id="txtConfirmPassword" placeholder="Xác nhậ lại mật khẩu mới">
                <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
            </div>

            <div class="row">
                <!-- /.col -->
                <div class="col-xs-4">
                    <button id="submit" onclick="resetPassword()" class="btn btn-primary btn-block btn-flat">Xác nhận</button>
                </div>                   <!-- /.col -->
            </div>
        </div>
        <!-- /.login-box-body -->
    </div>
    <!-- /.login-box -->
    <!-- jQuery 3 -->
    <script src="../../bower_components/jquery/dist/jquery.min.js"></script>
    <!-- Bootstrap 3.3.7 -->
    <script src="../../bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- iCheck -->
    <script src="../../plugins/iCheck/icheck.min.js"></script>
    <script src="~/kendo/js/kendo.ui.core.min.js"></script>
    <script src="~/kendo/js/kendo.all.min.js"></script>
    <script src="~/js/CustomJS.js" type="text/javascript"></script>
    <script src="~/js/HelperSDK.js" type="text/javascript"></script>

    <script id="successTemplate" type="text/x-kendo-template">
        <div class="new-mail">
            <text style="font-size:14px;">#= title #</text>
            <p style="font-size:12px;">#= message #</p>
        </div>
    </script>

    <script id="errorTemplate" type="text/x-kendo-template">
        <div class="k-notification-error">
            <text style="font-size:14px;">#= title #</text>
            <p style="font-size:12px;">#= message #</p>
        </div>
    </script>

    <script id="warningTemplate" type="text/x-kendo-template">
        <div class="k-notification-warning">
            <text style="font-size:14px;">#= title #</text>
            <p style="font-size:12px;">#= message #</p>
        </div>
    </script>

    <script>
        function resetPassword() {
            var newPassword = $("#txtNewPassword").val();
            var confirmPassword = $("#txtConfirmPassword").val();
            var email = "@ViewBag.email";
            var sercureCode = "@ViewBag.sercureCode";

            var data = {
                NewPassword: newPassword,
                ConfirmNewPassword: confirmPassword,
                Email: email,
                SercureCode: sercureCode
            }

            $.ajax({
                url: "/Customer/Account/ResetNewPassword",
                type: "post",
                dataType: "json",
                data: data,
                success: function (success) {
                    console.log(success);
                    alert(success.notify);
                    window.location.href = window.location.protocol + '//' + window.location.host + "/Customer/Account/SignIn";
                },
                error: function (err) {
                    console.log(err);
                    alert(err.notify);
                }
            });
        }
    </script>

    <script src="~/js/HelperSDK.js"></script>
    <script>
        $(window).on("load", () => {
            $("#notify").kendoNotification({
                position: {
                    pinned: true,
                    top: 300,
                    right: 400
                },
                autoHideAfter: 5 * 1000,
                stacking: "down",
                templates: [{
                    type: "success",
                    template: $("#successTemplate").html()
                }, {
                    type: "error",
                    template: $("#errorTemplate").html()
                    },
                    {
                    type: "warning",
                    template: $("#warningTemplate").html()
                }
                ]

            })
        });
    </script>
</body>
</html>

