@model ComputerAccessoriesV2.ViewModels.ProductViewModel
@using ComputerAccessoriesV2.Extensions
@{
    ViewData["Title"] = "CreateNewProduct";
    Layout = "~/Views/Admin/_Layout.cshtml";
}

<br />
<div class="row content">
    <div class="col-md-12">
        <div class="box box-primary">
            <div class="box-header with-border">
                <h3 class="box-title">Thêm sản phẩm mới</h3>
            </div>

            <form role="form" method="post" asp-action="CreateNewProduct" id="createProductForm" enctype="multipart/form-data">
                <div class="box-body" id="body">
                    <div class="form-group row">
                        <div class="col-lg-2">
                            <label asp-for="Product.ProductName">Tên sản phẩm</label>
                        </div>
                        <div class="col-lg-10">
                            <input class="form-control text-uppercase" placeholder="Nhập tên sản phẩm" asp-for="Product.ProductName">
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-lg-2">
                            <label asp-for="Product.Code">Mã sản phẩm</label>
                        </div>
                        <div class="col-lg-10">
                            <input class="form-control uppercase" placeholder="Nhập mã sản phẩm" maxlength="8" asp-for="Product.Code">
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-lg-2">
                            <label asp-for="Product.Brand">Thương hiệu</label>
                        </div>
                        <div class="col-lg-10">

                            <input class="form-control" asp-for="Product.BrandId" />
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-lg-2">
                            <label asp-for="Product.Category">Danh mục sản phẩm</label>
                        </div>
                        <div class="col-lg-10">

                            <input asp-for="Product.CategoryId" class="form-control" />
                        </div>

                    </div>
                    <div class="form-group row">
                        <div class="col-lg-2">
                            <label asp-for="Product.PromotionPrice">Giá</label>
                        </div>
                        <div class="col-lg-10">
                            <input class="form-control" type="number" placeholder="Giá sản phẩm" asp-for="Product.OriginalPrice" value="1" />
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-lg-2">
                            <label asp-for="Product.PromotionPrice">Giá khuyến mãi</label>
                        </div>
                        <div class="col-lg-10">
                            <input class="form-control" type="number" placeholder="Giá khuyến mãi" asp-for="Product.PromotionPrice" />
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-lg-2">
                            <label asp-for="Product.Origin">Xuất sứ</label>
                        </div>
                        <div class="col-lg-10">
                            <input class="form-control" placeholder="Xuất sứ" asp-for="Product.Origin" />
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-lg-2">
                            <label asp-for="Product.Color">Màu sắc</label>
                        </div>
                        <div class="col-lg-10">
                            <input class="form-control" placeholder="Màu sắc" asp-for="Product.Color" />
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-lg-2">
                            <label asp-for="Product.Quantity">Số lượng</label>
                        </div>
                        <div class="col-lg-10">
                            <input class="form-control" type="number" placeholder="Số lượng" asp-for="Product.Quantity" value="1" />
                        </div>
                    </div>

                    <div class="form-group row">
                        <div class="col-lg-2">
                            <label asp-for="Product.Thumnail">Hình nền 1</label>
                        </div>
                        <div class="col-lg-10">
                            <input asp-for="Product.Thumnail" type="file" name="thumnail1" class="form-control" />
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-lg-2">
                            <label asp-for="Product.Thumnail2">Hình nền 2</label>
                        </div>
                        <div class="col-lg-10">
                            <input asp-for="Product.Thumnail2" type="file" name="thumnail2" class="form-control" />
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-lg-2">
                            <label>Hình ảnh khác</label>
                        </div>
                        <div class="col-lg-10">
                            <input class="form-control" type="file" name="moreimages" id="more" multiple />
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-lg-2">
                            <label>Mô tả ngắn</label>
                        </div>
                        <div class="col-lg-10">
                            <textarea class="form-control" asp-for="Product.ShorDescription" rows="3"></textarea>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-lg-2">
                            <label>Mô tả đầy đủ</label>
                        </div>
                        <div class="col-lg-10">
                            <textarea class="form-control" asp-for="Product.FullDescription" rows="3"></textarea>
                        </div>
                    </div>
                </div>



                <div class="box-footer">
                    <a id="validate" class="btn btn-primary">Tạo</a>
                </div>
            </form>
        </div>
    </div>
</div>


@section Scripts{
    <script src="~/tinymce/js/tinymce/tinymce.min.js"></script>
    <script src="~/tinymce/js/tinymce/jquery.tinymce.min.js"></script>
    <script>
         tinymce.init({
  selector: '#Product_FullDescription',
  plugins: 'print preview fullpage paste importcss searchreplace autolink autosave save directionality code visualblocks visualchars fullscreen image link media template codesample table charmap hr pagebreak nonbreaking anchor toc insertdatetime advlist lists wordcount imagetools textpattern noneditable help charmap quickbars emoticons',
  imagetools_cors_hosts: ['picsum.photos'],
  menubar: 'file edit view insert format tools table help',
  toolbar: 'undo redo | bold italic underline strikethrough | fontselect fontsizeselect formatselect | alignleft aligncenter alignright alignjustify | outdent indent |  numlist bullist | forecolor backcolor removeformat | pagebreak | charmap emoticons | fullscreen  preview save print | insertfile image media template link anchor codesample | ltr rtl',
  toolbar_sticky: true,
  autosave_ask_before_unload: true,
  autosave_interval: "30s",
  autosave_prefix: "{path}{query}-{id}-",
  autosave_restore_when_empty: false,
  autosave_retention: "2m",
  image_advtab: true,
  content_css: [
    '//fonts.googleapis.com/css?family=Lato:300,300i,400,400i',
    '//www.tiny.cloud/css/codepen.min.css'
  ],
  link_list: [
    { title: 'My page 1', value: 'http://www.tinymce.com' },
    { title: 'My page 2', value: 'http://www.moxiecode.com' }
  ],
  image_list: [
    { title: 'My page 1', value: 'http://www.tinymce.com' },
    { title: 'My page 2', value: 'http://www.moxiecode.com' }
  ],
  image_class_list: [
    { title: 'None', value: '' },
    { title: 'Some class', value: 'class-name' }
  ],
  importcss_append: true,
  height: 400,
  file_picker_callback: function (callback, value, meta) {
    /* Provide file and text for the link dialog */
    if (meta.filetype === 'file') {
      callback('https://www.google.com/logos/google.jpg', { text: 'My text' });
    }

    /* Provide image and alt text for the image dialog */
    if (meta.filetype === 'image') {
      callback('https://www.google.com/logos/google.jpg', { alt: 'My alt text' });
    }

    /* Provide alternative source and posted for the media dialog */
    if (meta.filetype === 'media') {
      callback('movie.mp4', { source2: 'alt.ogg', poster: 'https://www.google.com/logos/google.jpg' });
    }
  },
  templates: [
        { title: 'New Table', description: 'creates a new table', content: '<div class="mceTmpl"><table width="98%%"  border="0" cellspacing="0" cellpadding="0"><tr><th scope="col"> </th><th scope="col"> </th></tr><tr><td> </td><td> </td></tr></table></div>' },
    { title: 'Starting my story', description: 'A cure for writers block', content: 'Once upon a time...' },
    { title: 'New list with dates', description: 'New List with dates', content: '<div class="mceTmpl"><span class="cdate">cdate</span><br /><span class="mdate">mdate</span><h2>My List</h2><ul><li></li><li></li></ul></div>' }
  ],
  template_cdate_format: '[Date Created (CDATE): %m/%d/%Y : %H:%M:%S]',
  template_mdate_format: '[Date Modified (MDATE): %m/%d/%Y : %H:%M:%S]',
  height: 600,
  image_caption: true,
  quickbars_selection_toolbar: 'bold italic | quicklink h2 h3 blockquote quickimage quicktable',
  noneditable_noneditable_class: "mceNonEditable",
  toolbar_drawer: 'sliding',
  contextmenu: "link image imagetools table",
 });
        var baseUrl = window.location.protocol + '//' + window.location.host;
        $(document).ready(() => {

            $('#Product_CategoryId').kendoDropDownList({
                optionLabel: '-Chọn danh mục-',
                dataTextField: "categoryName",
                dataValueField: "id",
                dataSource: {
                    type: 'json',
                    serverFiltering: true,
                    transport: {
                        read: {
                            url: window.location.protocol + '//' + window.location.host+"/MainService/GetCategory"
                        },
                        requestEnd: function (e) {
                                var response = e.response;
                                var type = e.type;
                          
                                if (response.length === 0) {
  
                                }
                        },
                    }
                },
                index: 0
            });

            $('#Product_BrandId').kendoDropDownList({
                optionLabel: '-Chọn danh mục-',
                dataTextField: "brandName",
                dataValueField: "id",
                dataSource: {
                    type: 'json',
                    serverFiltering: true,
                    transport: {
                        read: {
                            url: baseUrl + "/Brand/GetBrand"
                        },
                        requestEnd: function (e) {
                                var response = e.response;
                                var type = e.type;
                                if (response.length === 0) {

                                }
                        },
                    }
                },
                index: 0
            })

        });

        //function onSubmitForm() {
        //    debugger;
        //    if (!formValidation) {
        //        //$("#noitifyHolder").data('kendoDro')
        //        return;
        //    }
        //    $('#createProductForm').submit();
        //}

        $('#validate').click(function () {

            var productName = $("#Product_ProductName");
            var productCode = $("#Product_Code");
            var productBrandId = $('#Product_BrandId').data('kendoDropDownList');
            var productCategory = $('#Product_CategoryId').data('kendoDropDownList');
            var productOrigin = $('#Product_Origin');
            var productColor = $('#Product_Color');

            var productThumnail = $('#Product_Thumnail');
            var productThumnail2 = $('#Product_Thumnail2');
            var productMoreImgs = $('#more');

            if (productName.val() === "") {
                $("#noitifyHolder").data('kendoNotification').show("Vui lòng nhập vào tên sản phẩm", "error");
                productName.focus();
                return;
            }

            if (productCode.val() === "") {
                $("#noitifyHolder").data('kendoNotification').show("Vui lòng nhập mã sản phẩm", "error");
                productCode.focus();
                return;
            }
            if (productBrandId.value() === "") {
                $("#noitifyHolder").data('kendoNotification').show("Vui lòng chọn thương hiệu sản phẩm", "error");
                return;
            }
            if (productCategory.value() === "") {
                $("#noitifyHolder").data('kendoNotification').show("Vui lòng chọn danh mục sản phẩm sản phẩm", "error");
                return;
            }
            if (productOrigin.val() === "") {
                $("#noitifyHolder").data('kendoNotification').show("Vui lòng nhập nguồn gốc sản phẩm", "error");
                productOrigin.focus();
                return;
            }
            if (productColor.val() === "") {
                $("#noitifyHolder").data('kendoNotification').show("Vui lòng nhập màu sản phẩm", "error");
                productColor.focus();
                return;
            }

            if (productThumnail.val() == "") {
                 $("#noitifyHolder").data('kendoNotification').show("Vui lòng chọn hình nền sản phẩm", "error");
                productThumnail.focus();
                return;
            }

            if (productThumnail2.val() == "") {
                 $("#noitifyHolder").data('kendoNotification').show("Vui lòng chọn hình nền khác sản phẩm", "error");
                productThumnail2.focus();
                return;
            }

            if (productMoreImgs.val() == "") {
                $("#noitifyHolder").data('kendoNotification').show("Vui lòng chọn hình nền khác sản phẩm", "error");
                productMoreImgs.focus();
                return;
            }

            $('#createProductForm').submit();
        })

        


    </script>
    
}
