
@{
    ViewData["Title"] = "BillManagement";
    Layout = "~/Views/Admin/_Layout.cshtml";
}


  

    <section class="content">
        <div class="row">
            <div class="box box-default">
                <div class="box-header with-border">
                    <h3 class="box-title ">Lọc</h3>

                    <div class="box-tools pull-right">
                        <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                        <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-remove"></i></button>
                    </div>
                </div>
                <!-- /.box-header -->
                <div class="box-body" style="">
                    <div class="row">
                        <div class="col-md-12">
                            <label style="font-size:16px; text-decoration:underline">Khách hàng</label>
                        </div>
                        <!-- /.col -->
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Email khách hàng</label>
                                <input id="email" class="form-control" />
                            </div>
                            <!-- /.form-group -->
                            <!-- /.form-group -->
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Số điện thoại khách hàng</label>
                                <input oninput="validatePhone()" id="phoneNumber" class="form-control" />
                            </div>
                        </div>


                        <!-- /.col -->
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <label style="font-size:16px; text-decoration:underline">Hóa đơn</label>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Mã hóa đơn</label>
                                <input id="billCode" type="text" placeholder="Nhập mã hóa đơn tại đây" class="form-control" />
                            </div>
                            <!-- /.form-group -->
                            <!-- /.form-group -->
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Trạng thái</label>
                                <input id="statusDrop" class="form-control" />
                            </div>
                        </div>

                    </div>
                    <div class="row">

                        <!-- /.col -->
                        <div class="col-md-12">
                            <label style="font-size:16px; text-decoration:underline">Ngày tạo</label>
                        </div>

                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Từ ngày</label>
                                <div class="input-group date">
                                    <div class="input-group-addon">
                                        <i class="fa fa-calendar"></i>
                                    </div>
                                    <input type="text" @*asp-for="CreatedDate"*@ class="form-control" id="datepicker1">
                                </div>
                            </div>
                            <!-- /.form-group -->
                            <!-- /.form-group -->
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Đến ngày</label>
                                <div class="input-group date">
                                    <div class="input-group-addon">
                                        <i class="fa fa-calendar"></i>
                                    </div>
                                    <input type="text" @*asp-for="CreatedDate"*@ class="form-control" id="datepicker2">
                                </div>
                            </div>
                            <!-- /.form-group -->
                            <!-- /.form-group -->
                        </div>

                        <!-- /.col -->
                    </div>
                    <!-- /.row -->
                </div>
                <div class="box-footer">
                    <div class="row">
                        <div class="col-lg-4">
                            <a class="btn btn-success" onclick="Filter()">Lọc</a>
                        </div>
                    </div>
                </div>
                <!-- /.box-body -->
            </div>
            <div class="box">

                <div class="box-header">
                    <h3 class="box-title">Danh sách hóa đơn</h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body">


                    <div id="billGrid">

                    </div>
                </div>
                <!-- /.box-body -->
            </div>

        </div>
    </section>




@section Scripts{ 
    <script>
        var helpers = window.HelperSDK.Helpers;
        
        $(document).ready(function () {
            var notification = $('#kendoNoti').data('kendoNotification');
            $('#datepicker1').datepicker();
            $('#datepicker2').datepicker();

            $("#email").kendoAutoComplete({
                dataTextField: "email",
                placeholder:"Nhập email khách hàng",
                        filter: "contains",
                        minLength: 3,
                        dataSource: {
                            type: "json",
                            //serverFiltering: true,
                            transport: {
                                read: {
                                    url: window.location.protocol + "//" + window.location.host + "/MainService/GetUsers"
                                }
                            }
                        }
                    });

            $('#statusDrop').kendoDropDownList({
                autoBind:true,
                optionLabel: '--Chọn trạng thái--',
                dataTextField: "codeName",
                dataValueField: "id",
                filter:"contains",
                dataSource: {
                    type: 'json',
                    //serverFiltering: true,
                    transport: {
                        read: {
                            url: window.location.protocol + '//' + window.location.host + "/Bill/GetBillStatus"
                            
                        },
                        requestEnd: function (e) {
                            var response = e.response;
                            var type = e.type;
                            if (response.length === 0) {

                            }
                        },
                    }
                },
            })

            $("#billGrid").kendoGrid({
                dataSource: {
                    type: "json",
                    transport: {
                        read: {
                            url: window.location.protocol + "//" + window.location.host + "/Bill/GetBills"
                        },
                        update: {
                            url: window.location.protocol +"//"+ window.location.host + "/Bill/UpdateBillInformation",
                            dataType: "json",
                            complete: function (e) {
                                console.log(e);
                                debugger;
                                var noti = $('#kendoNoti').data('kendoNotification');
                                noti.show({ title: "Thông báo", message: e.responseJSON.res}, "success");
                                $('#billGrid').data('kendoGrid').dataSource.read();
                            }
                        },
                        destroy: {
                            url: window.location.protocol +"//"+ window.location.host + "/Products/Destroy",
                            dataType: "jsonp"
                        },
                        create: {
                            url: window.location.protocol +"//"+ window.location.host + "/Products/Create",
                            dataType: "jsonp"
                        },

                        parameterMap: function (options, operation) {
                            if (operation !== "read" && options.models) {
                                return { models: kendo.stringify(options.models) };
                            } else {
                                return {
                                    customerEmail: $('#email').val(),
                                    customerPhone: $('#phoneNumber').val(),
                                    billCode: $('#billCode').val(),
                                    billStatus: $('#statusDrop').data('kendoDropDownList').value(),
                                    fromTime: $('#datepicker1').val(),
                                    toTime: $('#datepicker2').val()
                                }
                            }
                        }

                    },
                    pageSize: 20,
                    sortable: true,
                    resizable: true,
                    serverFiltering: true,
                    schema: {
                        model: {
                            id: "billId",
                            fields: {
                                billId: { editable: false, nullable: true },
                                customerName: { editable: false },
                                customerEmail: { editable: false },
                                totalPrice: { editable: false },
                                createdDate: { editable: false },
                                //note: { editable: false },
                                phoneNumber: { type: "text", editable: false },
                                status: { editable: false },
                                billName: { editable: false, validation: { required: true } },
                                shippingAddress: { type: "text", editable: false },
                                note: { type: "text" },
                                shipper: { defaultValue: { shipperId: 0, shipperName: "None" } },
                                statusCode: { editable: false }
                                //shipperName: { editable: true }

                            }
                        }
                    },
                },
                height: 550,
                groupable: true,
                sortable: true,
                pageable: {
                    refresh: true,
                    pageSizes: true,
                    buttonCount: 5
                },
                serverFiltering: true,
                columns: [{ field: "billName", title: "Mã hóa đơn", format: "{0:c}"},
                    { field: "customerName", title: "Tên khách hàng", width: 120, filterable: false },
                    { field: "customerEmail", title: "Email", format: "{0:c}", width: 200, filterable: true },
                    { field: "phoneNumber", title: "Số điện thoại", width: 120 },
                    
                    { field: "createdDate", title: "Ngày tạo", filterable: false },
                    { field: "deliveredDate", title: "Ngày giao", filterable: false },
                    { field: "shippingAddress", title: "Địa chỉ giao hàng",filterable: false },
                    { field: "totalPrice", title: "Tổng tiền",filterable: false },
                    { field: "note", title: "Ghi chú",filterable: false },
                    { field: "statusCode", title: "Trạng thái" },
                    {
                        field: "shipper", title: "Nhân viên giao hàng", width: 200, editor:shipperDropDownList,template: "#if(shipper==null){#<text>Chưa có</text>#}else{#<text>#=shipper.shipperName#</text>#}#",filterable: false
                    },
                    { command: ["edit", { name: "details", iconClass: "k-icon k-i-eye", text: "Xem chi tiết", click: showDetails }, { name: "export", iconClass: "k-icon k-i-upload", text: "Xuất báo cáo", click: ExportBillDetail }], title: "&nbsp;", width: 300 }],
                    editable: "inline",
                    filterable: true
            });



            //$("#billGrid").kendoGrid({
            //    dataSource: {
            //        type:"json",
            //        transport: {                        
            //            read: {
            //                url: window.location.protocol + "//" + window.location.host + "/Bill/GetBills",
            //                dataType: "json",
            //                data: function () {
            //                    var a = {
                                    
            //                            customerEmail: $('#email').val(),
            //                            customerPhone: $('#phoneNumber').val(),
            //                            billCode: $('#billCode').val(),
            //                            billStatus: $('#statusDrop').data('kendoDropDownList').value(),
            //                            fromTime: $('#datepicker1').val(),
            //                            toTime: $('#datepicker2').val()
            //                    };
            //                    console.log(a);
            //                    return a;
            //                }
            //            },
            //            update: {
            //                url: window.location.protocol +"//"+ window.location.host + "/Bill/UpdateBillInformation",
            //                dataType: "json",
            //                complete: function (e) {
            //                    console.log(e);
            //                    debugger;
            //                    var noti = $('#kendoNoti').data('kendoNotification');
            //                    noti.show({ title: "Thông báo", message: e.responseJSON.res}, "success");
            //                    $('#billGrid').data('kendoGrid').dataSource.read();
            //                }
            //            },
            //            destroy: {
            //                url: window.location.protocol +"//"+ window.location.host + "/Products/Destroy",
            //                dataType: "jsonp"
            //            },
            //            create: {
            //                url: window.location.protocol +"//"+ window.location.host + "/Products/Create",
            //                dataType: "jsonp"
            //            },

            //            parameterMap: function (options, operation) {
            //                if (operation !== "read" && options.models) {
            //                    return { models: kendo.stringify(options.models) };
            //                }
            //            }
            //        },
            //        batch: true,
            //        pageSize: 20,
            //        sortable: true,
            //        resizable: true,
            //        schema: {
            //            model: {
            //                id: "billId",
            //                fields: {
            //                    billId: { editable: false, nullable: true },
            //                    customerName: { editable: false },
            //                    customerEmail: { editable: false },
            //                    totalPrice: { editable: false },
            //                    createdDate: { editable: false },
            //                    //note: { editable: false },
            //                    phoneNumber: { type: "text", editable: false },
            //                    status: { editable: false },
            //                    billName: { editable: false, validation: { required: true } },
            //                    shippingAddress: { type: "text", editable: false },
            //                    note: { type: "text" },
            //                    shipper: { defaultValue: { shipperId: 0, shipperName: "None" } },
            //                    statusCode: { editable: false }
            //                    //shipperName: { editable: true }

            //                }
            //            }
            //        },
                    
            //    },
            //    pageable: {
            //        refresh: true,
            //        pageSizes: true,
            //        buttonCount: 5
            //    },
            //    groupable: true,
            //    sortable: true,
            //    height: 550,
            //    columns: [
            //        { field: "billName", title: "Mã hóa đơn", format: "{0:c}"},
            //        { field: "customerName", title: "Tên khách hàng", width: 120, filterable: false },
            //        { field: "customerEmail", title: "Email", format: "{0:c}", width: 200, filterable: true },
            //        { field: "phoneNumber", title: "Số điện thoại", width: 120 },
                    
            //        { field: "createdDate", title: "Ngày tạo", filterable: false },
            //        { field: "deliveredDate", title: "Ngày giao", filterable: false },
            //        { field: "shippingAddress", title: "Địa chỉ giao hàng",filterable: false },
            //        { field: "totalPrice", title: "Tổng tiền",filterable: false },
            //        { field: "note", title: "Ghi chú",filterable: false },
            //        { field: "statusCode", title: "Trạng thái" },
            //        {
            //            field: "shipper", title: "Nhân viên giao hàng", width: 200, editor:shipperDropDownList,template: "#if(shipper==null){#<text>Chưa có</text>#}else{#<text>#=shipper.shipperName#</text>#}#",filterable: false
            //        },
            //        { command: ["edit", { name: "details", iconClass: "k-icon k-i-eye", text: "Xem chi tiết", click: showDetails }, {name:"export",iconClass:"k-icon k-i-upload",text:"Xuất báo cáo",click:ExportBillDetail}], title: "&nbsp;", width: 300 }],

            //    editable: "inline",
            //    filterable: true
            //});

        });



        function showDetails(e) {
            e.preventDefault();
            var dataItem = this.dataItem($(e.currentTarget).closest("tr"));
            console.log(dataItem);
            console.log(this);
            window.location.href = window.location.protocol + "//" + window.location.host + "/Admin/Bill/BillDetails?billId=" + dataItem.billId;
        }

        function ExportBillDetail(e) {
            e.preventDefault();
            var dataItem = this.dataItem($(e.currentTarget).closest("tr"));
            console.log(dataItem);
            url = "/Exports/ExportBillDetails?billId=" + dataItem.billId;
            var win = window.open(url, "_blank");
            win.focus();
        }
        function Filter() {
            $('#billGrid').data('kendoGrid').dataSource.read();
        }


        function shipperDropDownList(container, options) {
            $('<input name="' + options.field + '"/>')
                        .appendTo(container)
                        .kendoDropDownList({
                            autoBind: false,
                            dataTextField: "shipperName",
                            dataValueField: "shipperId",
                            optionLabel:"--Chọn Shipper--",
                            dataSource: {
                                type: "json",
                                transport: {
                                    read: {
                                        url:window.location.protocol + "//" + window.location.host + "/Bill/GetShipper"
                                    } 
                                }
                            }
                        });
        };

    </script>
    
}

